* {
  /*border: 2px solid #0ff; /*for debugging*/
  padding: 0px;
  margin: 0px;
}

body {
  font-family: Verdana, 'Times New Roman', Times, serif;
  font-size: medium;
  max-width: 1000px;
  background: radial-gradient(circle, #9c57c9 0%, #dd72c0 52%, #7fbecb 100%);
  margin: auto;
  padding: 0px;
}

.container {
  padding: 10px;
}

/* Style the header */
.header {
  padding: 20px;
  text-align: center;
  font-size: 24px;
  color:whitesmoke;
  text-shadow: 2px 2px 4px #000000;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* Container for flexboxes */
.row {
  display: -webkit-flex;
  display: flex;
}

/* Create three unequal columns that sits next to each other */
.column {
  background-color:whitesmoke;
  margin: 10px;
}

/* Left and right column */
/* I need to come back to this to work out height without hardcoding it in */
.column.menu {
   -webkit-flex: 1;
   -ms-flex: 1;
   flex: 1;
   border-top-left-radius: 10px;
   border-bottom-left-radius: 10px;
   border-top-right-radius: 10px;
   border-bottom-right-radius: 10px;
   height: 150px;
   text-align: center;
   box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
   position: -webkit-sticky; /* Safari */
   position: sticky;
   top: 50px;
   padding-top: 30px;
   padding-bottom: 30px;
}

/* Middle column */
.column.content {
  -webkit-flex: 4;
  -ms-flex: 4;
  flex: 4;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Style the footer */
.footer {
  padding: 10px;
  text-align: center;
  color: whitesmoke;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
  .row {
    -webkit-flex-direction: column;
    flex-direction: column;
    padding: 0px;
  }
}

.responsive {
  max-width: 100%;
  height: auto;
}

nav {
  display: flex;
  flex-direction: column;
}

nav a {
  height: 100%;
  font-size: 18px;
  display: inline-block;
  position: relative;
  z-index: 1;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: #9c57c9;
  cursor: pointer;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  width: 110px;
  padding-top:5px;
  padding-bottom:5px;
}

nav a:hover {
  background-color: #dd72c0;
  height: 100%;
  display: inline-block;
  position: relative;
  z-index: 1;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  width: 110px;
  padding-top:5px;
  padding-bottom:5px;
}

.nav_links {
  padding-top: 5px;
}

.me {
  border-radius: 200px;
  width: 200px;
  /*padding: 20px; maybe. come back to this*/
}

h1 {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  padding-left: 20px;
  padding-bottom: 10px;
}

h2 {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  padding-top: 20px;
  padding-bottom: 10px;
  text-align: center;
}

.welcome {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.welcome_text {
  font-size: 18px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.welcome_image {
  padding-right: 20px;
}

.projects {

}

.contact {
  text-align: center;
}

.projects-grid {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.projects-grid-item {
  border: 3px solid #dd72c0;
  border-radius: 10px;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  width: 110px;
  height: 110px;
  margin: 10px;
  background-color: #fff;
  justify-content: center;
}

.projects-grid-item-text {
  padding: 0px;
}

.projects-grid-container {
  color: #000;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.welcome-header {
  padding: 10px;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #7fbecb; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #9c57c9;
  border-radius: 10px; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #623e7a; 
}

a {
  height: 100%;
  display: inline-block;
  position: relative;
  text-decoration: none;
  text-align: center;
  color: #9c57c9;
  cursor: pointer;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

a:hover {
  background-color: #dd72c0;
  display: inline-block;
  position: relative;
  text-decoration: none;
  text-align: center;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

/*come back to this when light mode version is finished
@media screen and (prefers-color-scheme: dark) {
  body {
    background-color: black;
    color: lightgray;
    background: radial-gradient(circle, #430303 0%, #430303 36%, #000 100%);
  }

  .column {
    padding: 20px;
    background-color: black;
    margin: 10px;
  }
  h1 {
    color: #500000;
  }
  
  h2 {
    color: #500000;
  }
}*/



