body {
    margin: 0;
    font-family: monospace;
    font-size: 16px;
}


.header {
    font-size: 24px;
    color: #f9faf8;
    background-color: #1f2937;
    font-size: 14px;
}

.header-logo {
    font-size: 20px;
}

.header-flex-container {
    display: flex;
    padding-left: 100px;
    padding-top: 5px;
    padding-right: 100px;
  }
  
  /* this selector selects all divs inside of .flex-container */
  .header-flex-container div {
    flex: 1 1 auto;
    align-self: flex-end;
  }

.hero {
    font-size: 24px;
    color: #f9faf8;
    background-color: #1f2937;
    justify-content: center;
    padding-left: 100px;
    padding-right: 100px;
    padding-top:50px;
    padding-bottom:50px;
}

.main {
    font-size: 24px;
    color: #1f2937;
    justify-content: center;
    flex-direction: column;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 50px;
    padding-bottom:50px;
}

.quote {
    font-size: 24px;
    color: #f9faf8;
    background-color: #e5e7eb;
    padding: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 10px;
}
.footer {
    font-size: 10px;
    color: #f9faf8;
    background-color: #1f2937;
    justify-content: center;
    padding-left: 200px;
    padding-top: 5px;
    padding-right: 200px;
    padding-bottom: 5px;
    display: flex;
}
